# Ambientes virtuais
venv/

# Credenciais e variáveis sensíveis
*.env
.env
google-credentials.json
waha_sessions/

# Arquivos temporários / sistema
__pycache__/
*.pyc
*.pyo
*.log
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Streamlit cache
.streamlit/
